# Python cache & build
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Local test or logs
*.log
*.png
